body{
    font-family: Arial, Helvetica, sans-serif;
}

#delete {
    color: red;
    border: none;
    background-color: white;
    text-decoration: underline;
    text-align: start !important;
    width: 30vw;
}

.fa-arrow-right-from-bracket {
    background-color: #F6F6F6;
    color: black;
}

#logOut1{
    background-color: #F6F6F6;
    border: none;
}

.sideContainer {
    background-color: #F6F6F6;
    border-radius: 30px;
    padding: 20px;
    height: 100vh;
}

@media (min-width: 375px) and (max-width:768px) {
    .sideContainer {
        height: 55vh;
    }
}

@media (min-width:375px) and (max-width:768px) {
   #Rightwrapper{
    margin-top: 30px;
   }
}

.bar {
    background-color: #F6F6F6;
    padding: 20px;
    border-radius: 30px;
}

#username,
#email,
#phone,
#address {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    width: 40vw;
}

.dataItem h5{
    width: 100px; 
    margin: 0; 
    text-align: start;
}

.dataDisplay {
    display: flex;
    align-items: start; 
    flex-direction: row;
}

.bordered-box {
    display: flex;
    align-items: start; 
}

.infoText {
    margin: 0; 
    flex-grow: 1; 
}

.dataItem {
    justify-content: start;
}

.bordered-box {
    position: relative;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileIcon {
    position: absolute;
    top: -3px;
    right: -10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.profileButton {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-weight: bold;
}

#dataWrapper>div {
    display: none;
}

.profileButton:hover {
    background-color: black;
    color: white;
}

.profileButton.active {
    background-color: black;
    color: white;
}

#myOrders {
    margin: 20px;
    font-family: Arial, sans-serif;
}

#orderEmptyImg img {
    width: 60%;
    max-width: 300px;
    margin-top: 20px;
}

#orderDetails {
    margin-top: 20px;
}

#orderList {
    list-style-type: none;
    padding: 0;
}

#orderList li {
    border: 1px solid #F6F6F6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(195, 192, 192);
    background-color: #F6F6F6;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.product-info {
    flex: 1;
}
